.TopCategories {
    width: 100vw;
    text-align: center;
    padding: auto;
    padding: 40px 0px;
    
}

.TopCategories .Explore {
    font-size: var(--font-size);
    font-family: var(--font-logo);
    font-weight: bold;
    padding:7px;
    color: grey;
}

.TopCategories .Popular {
    font-size: 20px;
    font-family: var(--font-logo);
    font-weight: bolder;
    padding: 3px;
    padding-bottom: 20px;

}

.cardholder {
    display: block;
    flex-direction: row;
    overflow-x: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    width: 100vw;
}

.card {
    width: 150px;
    height: auto;
    display: inline-block;
    margin: 16px;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 10px 20px 0.5px rgba(0, 0, 0, 0.1);
    border-radius: 25px;
}
.card:hover {
    scale: 1.2;
}
.card .categoiresIcon {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card .categoriesName {
    font-size: 18px;
    font-family: var(--font-logo);
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    height: 50px;
    width: 100%;


}