.hero {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.1)), url("/src/assets/herobg.png") no-repeat center;
    background-size: cover;
}

.hero-content {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: co;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 0 2rem;
    min-height: calc(100vh - 60px);
}

.hero-content .hero-text {
    color: #f6f6f6;
    text-align: left;
    font-family: var(--font-logo);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 40vw;
    height: 30vw;
    padding: 2rem 0;
    font-size: 30px;
    /* background-color: red; */

}

.hero-content .hero-tagline,
.hero-content .hero-para {
    color: #f6f6f6;
    width: 100%;
    font-family: var(--font-logo);
}

.hero-content .hero-tagline {
    text-align: left;
    border: 1px solid var(--btn-bg);
    border-radius: 50px;
    padding: 8px 14px;
    font-size: var(--font-size);
    text-transform: uppercase;
    width: 400px;
}

.hero-content .hero-para {
    font-size: var(--font-size);
    text-transform: uppercase;
    text-align: justify;
    margin-top: 1.5rem;
    line-height: 1.75;
    width: 400px;

}

.hero-content .blank {
    width: 40vw;
    height: 30vw;
    /* background: red; */
}

.hero-content .hero-text h1 {
    font-size: clamp(2rem, 4vw, 3rem);
    color: #f6f6f6;
    width: 100%;
    text-align: left;
    font-family: var(--font-logo);
    font-weight: bolder;
    margin: 1.5rem 0;
}

.hero-content .hero-text h1 span {
    background-image: linear-gradient(to right, var(--logo-color), var(--btn-bg));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}