.Feed {
  width: 570px;
  height: 100vh;
  padding: 1rem 2rem;
  background-color: #111138;
  margin: auto;
  color: #fff;
}

.feed_header{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.Feed img{
  width: 2rem;
  height: 2rem;
  margin: 0 0.5rem;
  border: 1px solid #ffffff;
  border-radius: 50%;
}
.search{
  width: 70%;
  height: auto;
  padding: 0.3rem 0.5rem;
  border: 1px solid #fff;
  border-radius: 30px;
  bottom: #fff;
  display: flex;
  flex-direction: row;
  background-color: #111138;

}
.search input{
  width: 90%;
  height: auto;
  padding: 0.3rem 1rem;
  border: 1px solid #fff;
  border-radius: 30px 0px 0px 30px;
  margin: auto;
}
.search i{
  width: 10%;
  height: auto;
  padding: 0.51rem 1rem;
  border: 1px solid #fff;
  border-radius: 0px 30px 30px 0px;
  margin: auto;
  font-size: 17px;

}
.Left_Nav {
  background-color: var(--background);
  color: #fff;
  width: 270px;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem;

}

.Left_Nav_header {
  width: 100%;
  display: flex;
  align-items: center;

}

.Left_Nav_Navbar {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: space-around;

}

.Left_Nav_Navbar ul li {
  padding: 0.5rem;
  margin: 1.5vh auto;
  text-decoration: none;
  font-size: 17px;
}

.Left_Nav_Navbar ul li button {
  padding: 7px 21px;
  border-radius: 8px;
  color: #fff;
  font-weight: 800;
  text-decoration: none;
  border: 2px solid white;

}

.Left_Nav_Navbar ul li:hover {
  transform: translateY(-2px);
}

.Left_Nav_Footer img {
  width: 2rem;
  height: 2rem;
  margin: 0 0.5rem;
  border: 1px solid #ffffff;
  border-radius: 50%;

}

.Left_Nav_Footer {
  width: 100%;
  display: flex;
  align-items: center;
  font-size: 1rem;
  justify-content: flex-start;
  margin-bottom: 5vh;
}




.Right_Nav {
  background-color: var(--background);
  color: #fff;
  width: 270px;
  height: 100vh;
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem;
}

@media (max-width: 800px) {

  .Left_Nav {
    transform: translateX(-150%);
  }

  .Right_Nav {
    display: none;
  }

}