:root {
    --logo-color: rgb(49, 37, 127);
    --btn-bg: rgb(75, 58, 185);
    --background: #f0f0f0;
    --font-logo: 'Poppins', sans-serif;
    --font-size: 14px;

}

.hero {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.1)), url("./assets/herobg.png") no-repeat center;
    background-size: cover;
    height: 100vh;
}

.nav {
    width: 100%;
    height: 60px;
    color: var(--logo-color);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.1));
    font-family: 'Poppins', sans-serif;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    display: flex;
    padding-top: 20px;
    padding-bottom: 10px;

}

.logo {
    font-size: 30px;
    font-weight: bold;
    padding: 15px 10px  ;
    color: white;
    display: inline-block;
    width: 25vw;
    font-family: var(--font-logo);

}

.logo span {
    color: var(--logo-color);
    font-size: 30px;
    font-family: var(--font-logo);

}

.navbar {
    display: inline-block;
    padding: auto;
    font-family: var(--font-logo);
    width: 30vw;
    text-align: center;

}

.navbar ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px;
    font-family: var(--font-logo);

}

.navbar ul li {
    list-style: none;
    color: white;
    font-size: var(--font-size);;
    font-weight: normal;
    font-family: var(--font-logo);
    font-weight: bold;
    border-bottom: 3px solid transparent;



}

.navbar ul li:hover {
    border-bottom: 3px solid var(--logo-color);
    font-weight: bolder;

}

.logsign {
    display: inline-block;
    padding: 10px;
    font-family: var(--font-logo);
    width: 25vw;
    display: flex;
    justify-content: center;
    align-items: center;

}

.logsign button {
    padding: 10px 15px;
    margin: 20px;
    background-color: var(--btn-bg);
    color: white;
    border-radius: 5px;
    font-size: var(--font-size);;
    font-weight: bolder;
    font-family: var(--font-logo);
    height: auto;
    border: 0;
}

.logsign .login {
    background: transparent;
        padding: 10px 25px;
        font-weight: bolder;


}

.logsign .login:hover {
    border: 2px solid var(--logo-color);
}

.logsign .signup:hover {
    border: 1px solid var(--background);
}

.hero-content {
    height: auto;
    width: auto;
    display: flex;
    justify-content: space-between;
    text-align: center;
    font-family: var(--font-logo);

}

.hero-content .hero-text {
    color: #f6f6f6;
    text-align: left;
    font-family: var(--font-logo);
    overflow: wrap;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    /* background-color: rgba(0, 0, 0, 0.5); */
    height: 70vh;
    margin: 50px 0px auto 0px;

}

.hero-content .hero-tagline,
.hero-content .hero-para {
    font-size: 15px;
    color: #f6f6f6;
    width: 30vw;
    text-align: left;
    font-family: var(--font-logo);
    overflow: wrap;
    margin: 0px 5px -5px 0px;
}

.hero-content .hero-tagline {
    text-align: center;
    border: 1px solid var(--btn-bg);
    border-radius: 50px;
    padding: 5px 10px;
    font-size: var(--font-size);;
    text-transform: uppercase;
    margin: 30px 0px -30px 0px;
}

.hero-content .hero-para {
    font-size: var(--font-size);;
    text-transform: uppercase;
    margin: -30px 0px 30px 0px;
    text-align: justify;
}

.hero-content .blank {
    color: #f6f6f6;
    width: 20vw;
    text-align: left;
    overflow: wrap;
    /* border: 1px solid red */
}

.hero-content .hero-text h1 {
    font-size: 60px;
    color: #f6f6f6;
    width: auto;
    text-align: left;
    font-family: var(--font-logo);
    font-weight: bolder;


}

.hero-content .hero-text h1 span {
    background-image: linear-gradient(to right, var(--logo-color), var(--btn-bg));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;


}