:root {
  --logo-color: rgb(49, 37, 127);
  --btn-bg: rgb(75, 58, 185);
  --background: #f0f0f0;
  --font-logo: 'Poppins', sans-serif;
  --font-size: 12px;
  --logo-font-size: 20px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--font-logo);
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}